*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul, ol, li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
	font-size: 16px;
}

.resize{
	width: 980px;
	margin: 0 auto;
}

.green-line{
	width: 100%;
	height: 45px;

	padding: auto 0px;

	background-color: #37a14c;
	
	color: white;
	font-family: Arial;
	font-size: 16px;
}

.green-line_img_container{
	padding-left: 3px;
	display: inline-block;
	float: right;
}

.contacts{
	display: inline-block;
}

.buttons{
	display: inline-block;
	width: 136px; 
}

button{
	height: 37px;

	text-align: center;
}

.logo_right{
	float: right;
}

.menu-bg{
	position: relative;
	background: linear-gradient(to bottom, #51c066, #3d9b50);
    height: 45px;
}
.main-menu li{
	width: 19.6%;
	height: 45px;
	text-align: center;
	display: inline-block;

	color: white;
	font-family: Arial;
	font-size: 16px;
	line-height: 45px;
}

.sitebar{
	float: left;
	width: 230px;
}

.mainbar{
	margin-left:  230px;
}

.news-item{
	display: inline-block;
	width: 230px;
	
}

.news-item p{
	background: linear-gradient(to top, #51c066, #3d9b50);
}

.news-img{
	width: 230px;
}

.news-date{
	font-weight: bold;
	line-height: 28px;
}

.news-span{
	color: white;
}

.news-item p{
	
	padding: 0 10px 5px 5px
}

.news-item:nth-child(3){
	margin: 0px 19px;
}

.yellow-line{
	background: #f8bd09;
	margin-top: 25px;

}

.yellow-line table{
	float: right;
}

.cls{
	clear: both;
}

.logo-line{
	background: linear-gradient(to bottom, #33cc66, #339966);
	padding: 7px 0px;

}

.logo-line li{
	display: inline-block;
	width: 24.65%;
	text-align: center;


}

.logo-line li:nth-child(1){
	text-align: left;
}

.logo-line li:nth-child(4){
	text-align: right;
}

.copyrights{
height: 45px;
line-height: 45px;

}




